
<div class="flex flex-col">
  <div> 
    <a href="{{ project.url | relative_url }}">
      {% if project.videothumb %}
        <video class="object-cover rounded-figmabox mb-3 hover:opacity-70 hover:scale-105 hover:drop-shadow-2xl transition duration-300 ease-in-out" autoplay loop muted>
          <source src="{{ project.videothumb | relative_url }}" type="video/mp4">
        </video>
      {% else %}
        <img class="object-cover rounded-figmabox mb-3 hover:opacity-70 hover:scale-105 hover:drop-shadow-2xl transition duration-300 ease-in-out" loading="lazy" alt="{{ project.title }}" src="{{ project.thumbnail | relative_url }}"/>
      {% endif %}
    </a>
  </div>

  <div class="flex flex-col md:flex-row justify-between">
    <a href="{{ project.url | relative_url }}" class="flex flex-row gap-1 font-portfolio font-[300] justify-center text-xl md:text-base">
      <h2 class="mb-1 text-accent-1-light">{{ project.title }},</h2>
      <h2 class="mb-1 dark:text-white">{{ project.client }}</h2>
    </a>
    <div class="flex justify-center space-x-1 flex-row font-portfolio font-[300] dark:text-dim-writing-light">
      <h2 class="">TECH:</h2>
      <h2 class="">{{ project.tech }}</h2>
    </div>
  </div>
</div>