---
layout: default
---

<div class="flex flex-col md:mt-12 mx-5 md:mx-0">
  <div class="flex flex-row mb-4 md:inline">
    <div class="w-1/4 mr-12 md:inline-block hidden"></div>
    <div class="flex w-3/4 md:inline">
      <h1 class="heading md:inline hidden md:text-6xl font-portfolio font-[600] text-accent-1-light">
        {{ site.other.blogname }}
      </h1>
    </div>
  </div>
  <div class="flex flex-col md:flex-row space-y-7 md:space-y-0">
    <div class="w-full md:w-1/4 md:mr-12">
      {% include person-card.html %}
    </div> 
    <div class="flex flex-col w-full md:w-3/4">
      <h1 class="heading md:hidden mb-5 text-3xl text-center font-portfolio font-[600] text-accent-1-light">
        {{ site.other.blogname }} ↓
      </h1>
      <main class="grid grid-cols-1 md:grid-cols-2 gap-7">
        {% for project in site.projects %}
        <div class="mb-4 flex">
          {% include project-summary.html project=project %}
        </div>
        {% endfor %}
    </main>
    </div>
  </div>
</div>

  
