---
layout: default
---
<div class="flex flex-col mt-5 md:mt-12 mb-20 mx-5 md:mx-0">
  <div class="flex mb-9 md:inline">
      <div class="w-1/4 mr-12 md:inline-block hidden">
          {% include back-button.html %}
      </div>
  </div>
  <div class="flex flex-col md:flex-row space-y-7 md:space-y-0">
    <div class="w-full md:w-1/4 mr-12">
      {% include person-card.html %}
    </div> 
    <div class="flex flex-col w-full md:w-3/4">
      <div class="flex flex-col w-full md:w-3/4">
        <video class="object-cover rounded-figmabox mb-6" autoplay loop muted>
          <source src="{{ page.videothumb | relative_url }}" type="video/mp4">
        </video>
        <h2 class=" heading text-2xl font-portfolio text-dim-writing-light">
          {{ page.client }}
        </h2>
      </div>
      <!-- <img class="rounded-figmabox flex w-1/2 mb-3" alt="{{ project.title }}" src="/{{ project.thumbnail }}"/> -->
      <main class="prose mb-20 scroll-smooth prose-p:font-portfolio prose-p:font-[400] prose-h2:font-portfolio prose-h3:font-portfolio prose-h1:font-portfolio prose-img:rounded-figmabox dark:prose-invert">
          {{ content }}
      </main>
    {% include back-button.html %}
    </div>
  </div>
</div>